@using TravelTripProject.Models.Sınıflar
@model Yorumlar

<div class="content-form">
    <h3>Bir Yorum Yapın</h3>

    <form method="post">
        <input type="text" name="Blogid" placeholder="Kullanıcı Adı" value="@ViewBag.deger" style="display:none" />

        <input type="text" name="KullaniciAdi" placeholder="Kullanıcı Adı" " required />
        <input type="text" name="Mail" placeholder="Mail Adresi" required />
        <textarea value="Yorum" name="Yorum"></textarea>
        <input type="submit" value="Gönder" />

    </form>
</div>